// Specific CSS for your home-page
$primary-color: white;
$nav-color: #4d4646;
$font-color: #f5eaea;

body {
  background-color: $primary-color;
  color: $font-color;
}

navbar {
  background-color: $nav-color;
}
