
  <div class="banner" style="background-image: url('https://res.cloudinary.com/dy3bkpda4/image/upload/v1583262753/grand-piano_v3ttlv.jpg')">
    <div class="container">
      <h1>Toca Aqui traz a você os <br>
      <strong>melhores instrumentos</strong> do mercado!</h1>
      <%= link_to 'Comprar', instruments_path, class: "btn" %>
    </div>
  </div>

