
  <div class="banner" style="background-image: url('assets/grand-piano.jpg')">
    <div class="container">
      <h1>Toca Aqui traz a você os <br>
      <strong>melhores instrumentos</strong> do mercado!</h1>
      <%= link_to 'Comprar', instruments_path, class: "btn" %>
    </div>
  </div>

