.card-product {
  overflow: hidden;
  height: 160px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 360px;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.card-index {
  border: 1px solid black;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product-infos h3 {
  position: absolute;
  right: 16px;
  top: 85px;
  color: black;
}

.card-product-infos p {
  position: absolute;
  right: 20px;
  top: 235px;
  color: white;
  font-size: 16px;
}

.card-product-infos i {
  position: absolute;
  left: 20px;
  top: 55px;
  color: black;
  font-size: 16px;
}

#star {
  color: #9818d6;
}

.card-show {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-show > img {
  height: 600px;
  width: 100%;
  object-fit: cover;
}

.card-show h2 {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  position:relative;
  top:-64px;
}

.card-show p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  position:relative;
  top:-40px;
}


.card-show .card-show-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  height: 160px;
}

.card-show-infos .card-show-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
