.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 360px;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-show {
  overflow: hidden;
  height: 560px;
  background: #ededed;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-show img {
  height: 100%;
  width: 800px;
  object-fit: cover;
}

.card-show h1 {
  font-size: 56px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.card-show h2 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  color: #9818d6;
}

.card-show p {
  font-size: 18px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: #9818d6;
}

.card-show .card-show-infos {
  padding: 16px;
}

.card-show-infos ul {
  list-style-type: none;
}
