@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
  margin-left: 10px;
}

.nav-item {
  font-color: black;
  font-family: 'Open Sans';
  margin-right: 10px;
  z-index: 1001;
}

.usuario {
  font-weight: bolder
}
