
<div class="card-show">
  <% if @instrument.photo.attached? %>
  <%= cl_image_tag @instrument.photo.key %>
  <% else %>
  <img src="https://i.picsum.photos/id/145/4288/2848.jpg" alt="">
  <% end %>
   <div class="card-show-infos text-center">
    <ul>
      <li>
        <h1><%= @instrument.name.upcase %></h3>
      </li>
      <li>
        <p>R$ <%= @instrument.price %></p>
      </li>
      <li>
        <div class="btn btn-primary color-white">
          <%= link_to "Adicionar ao carrino", orders_path(instrument_id: @instrument.id), method: :post %>
        </div>
       </li>
    </ul>
  </div>
</div>



